@page
@model IndexPageModel

<header class="p-5 mb-5 bg-dark text-white rounded-bottom">
    <div class="container-fluid">
        <h4 class="display-4 fw-bold">
            Subscriptions
        </h4>
        <a class="btn btn-outline-light btn-lg" asp-page="/subscriptions">
            View all Subscriptions
        </a>        
    </div>
</header>
<div class="row" data-masonry='{"percentPosition": true }'>
    @foreach(Subscription item in Model.Subscriptions ?? Enumerable.Empty<Subscription>())
    {
        <div class="col-sm-6 col-lg-4 mb-4">
            <a href="@Url.Page("/Logs", new { CorrelationId = item.CorrelationId })" class="text-decoration-none">
            <div class="card">
                <h6 class="card-header bg-primary text-white d-flex w-100 justify-content-between">
                    @item.CorrelationId
                    
                </h6>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        @item.CorrelationId
                    </h5>
                    <p class="card-text text-center">@item.Application</p>
                </div>
                <h6 class="card-footer bg-secondary text-white text-center">
                    <small>
                        @item.UpdateDate
                    </small>
                </h6>
            </div>
            </a>
        </div>
    }
</div>