@page "{CorrelationId}"
@model bamalhau.Pages.LogsPageModel
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Logs";
}

<h2>Logs for Correlation ID: @Model.CorrelationId</h2>
<h3>Number Of Log @Model.LogCount</h3>


<div class="form-group " style="margin: 20px 0px">
    <input type="text" id="applicationSearchInput" class="form-control" placeholder="Search by Application">
</div>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Application</th>
            <th scope="col">Log Resume</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in Model.Logs ?? Enumerable.Empty<Log>())
        {
            <tr class="table-info">

                <th scope="row">@item.Application</th>
                <td >@item.UpdateDate</td>
                <td><span title="@item.log">@item.resume</span></td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Logs?.Any() ?? true)
{
    <p>No logs found for this correlation ID.</p>
}
